/* the styles for the HTML elements */
html {
    background-color: black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 92%;
    margin: 0 auto;
    padding: 0 2em;
    background-color: #FFFFFF;
    border: 2px solid pink;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: black;
}
main {
    margin-bottom: 1em;
    float: left;
    width: 85%;
}
aside {
    float: left;
    width: 150px;
    height: 400px;
    margin: .5em 0;
}
section {
    float: left;
    width: 70%
        /*width: 500px;*/
}
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: .5em 0;
}
h1, h2 {
    color: rgb(208, 133, 4);
}
p {
    margin: .5em 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
li {
    padding-bottom: .5em;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
label {
    width: 8em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .5em;
    text-align: right;
    float: left;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 25em;
    margin-bottom: .5em;
}
br {
    clear: both;
}
table {
    border-collapse: collapse;
}
td, th {
    margin: 0;
    padding: .25em;
}
form {

}

/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    width: 150px;
    border: solid 2px white;
    background: #D0F400;
    border-radius: 2px;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: .5em;
    /*width: 330px;*/
    width:70%;
    border: solid 2px white;
    background:#48E9CC; 
    border-radius: 2px;
}
#left_column p img {
    text-align: center;
}
#right_column ul {
    list-style-type: disc;
    padding-left: 2em;
    margin-top: .25em;
}


/* styles for the classes */
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.cart_qty  {
    text-align: right;
    width: 3em;
}
.button_form {
    margin: 0;
    padding: 0;
    float: left;
}
.inline {
    display: inline;
    margin-left: .5em;
}
.nofloat {
    float: none;
}
.error {
    color: red;
}

/* styles for the ids */
#category_table form {
    margin: 0;
}
#category_table td {
    margin: 0;
    padding: .15em .5em 0 0;
}
#add_category_form {
    margin: 0;
}
#add_category_form input {
    margin-right: .5em;  
}

#add_admin_user_form label {
    width: 8.5em;
}

#edit_and_delete_buttons {
    margin-bottom: .5em;
}
#edit_and_delete_buttons form {
    display: inline;
}

#image_manager input {
    margin: .25em;
}
.product_image_column {
    width: 8em;
    text-align: center;
    border: solid 2px white;
    background: #D0F400;
    border-radius: 2px;
}
#product_image_col {
    width: 25%;
    text-align: center;
    border: solid 2px white;
    background: #D0F400;
    border-radius: 2px;
}
#product_image_logo{
	margin-right: 2px;
    padding: 0px; 
    vertical-align:middle;
    width:50%;
    height:45%;
}
#product_desc{
    text-align: justify;
    text-justify: inter-word;
    border: solid 2px white;
    background: #13b9bf;
    padding: 10px;
    border-radius: 2px;
}

#add_to_cart_form {
    margin: .25em;
}
#add_to_cart_form input {
    float: none;
}

#cart {
    margin: 0;
    padding: 1em .25em;
    border-collapse: collapse;
    width: 100%;
}
#cart_header th {
    border-bottom: 2px solid black;
}
#cart_footer td {
    border-top: 2px solid black;
    font-weight: bold;
}

#login_form {
    margin-top: .5em;
}
#login_form label {
    text-align: left;
    width: 5em;
    padding-right: 1em;
}
#login_form input[text] {
    background-color: red;
}

#register_form label {
    width: 10em;
}

#edit_account_form label {
    width: 9em;
}
#payment_form label {
    width: 8em;
    padding-right: 1em;
}
#payment_form input[text] {
    width: 5em;
    margin: 0;
    padding-right: 1em;
}

#add_category label {
    text-align: left;
    width: 3em;
}
#add_category input { 
    margin-right: .25em;
}

#formatting_directions h2 {
    padding-top: 1em;
}
#formatting_directions ul {    
    list-style-type: disc;
    margin-top: 0;
    padding-left: 1em;
    padding-bottom: 1em;
}

#copyright {
    margin: 1em 0;	
}
#catalog-image {  
    width: 90px;  
    height: 200px;
    overflow:hidden; 
} 
#header-div{
    background: #000; 
    border: solid 5px black;
}
#header-img{
    vertical-align:middle;
    width:78px;
    height:68px;
}
#header-span{
    letter-spacing: 2px;
    font-size: 50px; 
    color: #66ff33; 
    font-family: American Typewriter, serif; 
    vertical-align:middle; 
    margin-left: 10px
}
#header-span2{
    font-style: italic;
    font-size: 20px; 
    color: #ff9900; 
    font-family: Optima, sans-serif; 
    vertical-align:middle; 
    margin-left: 10px
}
#nav-div{
    text-align: right; 
    /*background: #F4AB00;*/
    height:35px;
    /*border: solid 2px #66ff33;*/
}
#non-underline-links{
    text-decoration: none; 
    vertical-align: bottom;
    text-align:center;
    color: white;
    height:30px;
    margin-right: 5px;
    border-radius: 3px;
    background: #002D66;
    padding: 5px; 
}
#non-underline-links:hover{
    color: #F43000;
}
#cart-logo{
    margin-right: 2px;
    padding: 2px; 
    vertical-align:bottom;
    width:25px;
    height:21px;
}
#aside-style{
    border:solid blue 1px;
    pading: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-left: 5px;
}
#login_form{
    text-align: left;
    border: solid 2px white;
    background: #48E9CC;
    padding: 10px;
}
#register_form{
    text-align: left;
    border: solid 2px white;
    background: #48E9CC;
    padding: 10px;
}
#cart_view{
    justify-content: center;
    text-align: left;
    border: solid 2px white;
    background: #48E9CC;
    padding: 10px;
}
#checkout_view{
    justify-content: center;
    text-align: left;
    border: solid 2px white;
    background: #48E9CC;
    padding: 10px;
    margin-top: 10px;
}
#account_view{
    justify-content: center;
    text-align: left;
    border: solid 2px white;
    background: #48E9CC;
    padding: 10px;
    margin-top: 10px;
}
#sidebar_view{
    text-decoration: none; 
    text-align: center;
    vertical-align: bottom;
    color: white;
    height:30px;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 5px;
    background: #002D66;
    padding-top: 10px;
}
#sidebar_a{
    text-decoration: none; 
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 15px;
}
#sidebar_a:hover{
    color: #F43000;
}
#hfont{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 27px;
letter-spacing: 0px;
word-spacing: 3.2px;
color: #15199E;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
#pfont{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 15px;
letter-spacing: 0px;
word-spacing: 3.2px;
color: #186D65;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;
}
#table-catalog{
	width:100%;
	height:60px;
  border: 2px solid black;
}